.container {
  margin-left: 20px;
}

img {
  border: 2px solid;
     width: 300px;
     border-radius: 25px;
}

#button2 {
  border-style: solid;
  width: 10%;
  display: inline-block;
  position: relative;
  left: 350px;
  top: -350px;
  font-size: 20px;
  color: red;
}

p {
  margin-left: 20px;
}
